[mysqld]
bind-address=127.0.0.1
# optimized my.cnf for CentOS default MySQL 5.0.77
# by eva2000
# vbtechsupport.com

# Default to using old password format for compatibility with mysql 3.x
# clients (those using the mysqlclient10 compatibility package).
# old_passwords=1

datadir=/var/lib/mysql
tmpdir=/home/mysqltmp
socket=/var/lib/mysql/mysql.sock
user=mysql

safe-show-database
skip-innodb
max_connections = 350
key_buffer_size = 32M
myisam_sort_buffer_size = 64M
join_buffer_size = 256K
read_buffer_size = 256K
sort_buffer_size = 256K
table_cache = 1536
thread_cache_size = 128
wait_timeout = 900
interactive_timeout = 60
connect_timeout = 10
tmp_table_size = 32M
max_heap_table_size = 32M
max_allowed_packet = 32M
net_buffer_length = 16384
max_connect_errors = 100000
concurrent_insert = 2
read_rnd_buffer_size = 256K
query_cache_limit = 1M
query_cache_size = 32M
query_cache_type = 1
default-storage-engine = MyISAM

[mysqld_safe] 
log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid
open-files-limit = 8192

[mysqldump]
quick
max_allowed_packet = 16M

[myisamchk] 
key_buffer_size = 32M 
sort_buffer_size = 256K
read_buffer_size = 256K
write_buffer_size = 256K

[mysqlhotcopy]
interactive-timeout


